@{
    ViewData["Title"] = "Productos";
}

<style>
    .grid{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
</style>
<h1>@ViewData["Title"]</h1>

<input placeholder="Buscar producto..." class="input-group"/>


<div class="grid">
       <div class="card">
        <div class="card-header">Nombre</div>
        <div class="card-body"><img style="width: 100%;" src="~/imgs/coca.webp" /></div>
        <div class="card-footer">
            <button id="4" class="btn btn-primary" onclick="AñadirObjeto(1)">Añadir producto</button>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Nombre</div>
        <div class="card-body"><img style="width: 100%;" src="~/imgs/coca.webp" /></div>
        <div class="card-footer">
            <button id="4" class="btn btn-primary" onclick="AñadirObjeto(2)">Añadir producto</button>
        </div>
    </div>
</div>