@{
	ViewData["Title"] = "No Found";
}
@section Options {
    <div class="op  "><a class="ob" asp-controller="Home" asp-action="Home"><i class="fa-solid fa-house"></i><i class="bi bi-house"></i></a></div>
    <div class="op"><a class="ob" asp-controller="Home" asp-action="Historic"><i class="bi bi-clock-history"></i></a></div>
    <div class="op "><a class="ob" asp-controller="Products" asp-action="Index"><i class="bi bi-archive"></i></a></div>
}
<!-- 404 Error Text -->
<div class="text-center">
	<div class="error mx-auto" data-text="404">404</div>
	<p class="lead text-gray-800 mb-5">Page Not Found</p>
	<p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
	<a asp-action="Index" asp-controller="Home">&larr; Back to Dashboard</a>
</div>