@model Product
@{
    ViewData["Title"] = "Añadir Product";
}
@section Options {
    <div class="op  "><a class="ob" asp-controller="Home" asp-action="Home"><i class="fa-solid fa-house"></i><i class="bi bi-house"></i></a></div>
    <div class="op"><a class="ob" asp-controller="Home" asp-action="Historic"><i class="bi bi-clock-history"></i></a></div>
    <div class="op active"><a class="ob" asp-controller="Products" asp-action="Index"><i class="bi bi-archive"></i></a></div>
}


<div class="row">
    <div class="col">
        <div class="card shadow m-4 custom-card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-dark">Crear nuevo producto.</h6>
            </div>
            <div class="card-body">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="Amount" class="form-label"></label>
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                                <label asp-for="Price" class="form-label"></label>
                                <input asp-for="Price" class="form-control custom-input" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-6">
                            <label asp-for="Category" class="form-label"></label>
                            <select class="form-control "  asp-for="@Model.Category" asp-items="Html.GetEnumSelectList<Category>()"></select>
                            <span asp-validation-for="Category" class="text-danger"></span>

                        </div>
                        <div class="col-6">
                            <label asp-for="FormFile" class="form-label"></label>
                            <input asp-for="FormFile" class="form-control " />
                            <span asp-validation-for="FormFile" class="text-danger"></span>

                        </div>
                    </div>

                    <button type="submit" class="btn btn-warning fw-bold text-light">Crear</button>
                    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
                </form>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}