@model Product
@{
	ViewData["Title"] = "Borrar Producto";
}

<h1>Inventario</h1>
<h5>Estas seguro que deseas borrar el siguiente producto? (@Model.Name)</h5>

<form asp-action="DeleteProduct">
	<input type="hidden" asp-for="ProductId"/>
	<p>@Model.ProductId</p>
	<button class="btn btn-danger" type="submit">Borrar</button>
	<a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}