@model Product
@{
	ViewData["Title"] = "Borrar Producto";
}
@section Options {
	<div class="op  "><a class="ob" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i><i class="bi bi-house"></i></a></div>
    <div class="op"><a class="ob" asp-controller="Home" asp-action="Historic"><i class="bi bi-clock-history"></i></a></div>
    <div class="op active"><a class="ob" asp-controller="Products" asp-action="Index"><i class="bi bi-archive"></i></a></div>
}
<h1>Inventario</h1>
<h5>Estas seguro que deseas borrar el siguiente producto? (@Model.Name)</h5>

<form asp-action="DeleteProduct">
	<input type="hidden" asp-for="ProductId"/>
	<p>@Model.ProductId</p>
	<button class="btn btn-danger" type="submit">Borrar</button>
	<a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}